@import "./color.scss";

@mixin position {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin positionWord {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// стили шрифта для ячеек таблицы
@mixin fontStyleCell {
  font-family: "Exo2", sans-serif;
  font-size: 20px;
  padding: 5px;
}
@mixin inputForm {
  font-size: 25px;
  color: $asphalt;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid $malachite;
}
